<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='style.css')}}"
    />
    <title>Checkerboard</title>
  </head>
  <body>
    <table>
      {% for i in range(x): %} {% if i % 2 != 0: %}
      <tr>
        {% for j in range(y): %} {% if j % 2 != 0: %}
        <td class="color_red"></td>
        {% endif %} {% if j % 2 == 0: %}
        <td class="color_black"></td>
        {% endif %} {% endfor %}
      </tr>
      {% endif %} {% if i % 2 == 0: %}
      <tr>
        {% for j in range(y): %} {% if j % 2 != 0: %}
        <td class="color_black"></td>
        {% endif %} {% if j % 2 == 0: %}
        <td class="color_red"></td>
        {% endif %} {% endfor %}
      </tr>
      {% endif %} {% endfor %}
    </table>
  </body>
</html>
